body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: 20px auto;
}

caption {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

thead th {
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

tbody th {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
}
